*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: limegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
}
h1{
    color: white;
}
div{
    background-color: white;
    width: 350px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
}
#inputOne{
    width: 100px;
    height: 30px;
    border: 2px solid black;
}
#inputTwo{
    width: 100px;
    height: 30px;
    border: 2px solid black;
}
#textContext{
    background-color: limegreen;
    width: 300px;
    height: 70px;
    color: white;
    border: 2px solid white;
    padding: 8px;
    border-radius: 10px;
    margin-top: 25px;
}
#btnTag{
    background-color: limegreen;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 2px solid white;
}