*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#parent-div{
    background-color: grey;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    /* width: 350px; */
    /* height: 350px; */
}

#showValue{
    background-color: gray;
    width: 250px;
    height: 30px;
    color: white;
    text-align: center;
    place-content: center;
}

#pTag{
    background-color: white;
    width: 250px;
    height: 30px;
    text-align: center;
    place-content: center;
    place-self: center;
}

#childOne{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

#number{
    background-color: blue;
    width: 50px;
    height: 50px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.check{
    display: flex;
    justify-content: center;
}

#childTwo{
    display: flex;
    flex-direction: column;
}

#numberTwo{
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}