*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-image: url(photo-1644088379091-d574269d422f.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container{
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 255, 0.815);
    box-shadow: 10px 10px 10px 10px  #0c1a96;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#pTag{
    width: 350px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.45);
    text-align: center;
    place-content: center;
    font-size: 20px;
    border-radius: 5px;
}

#inputTag{
    width: 75px;
    height: 40px;
    outline: none;
    border: 2px solid darkgray;
    text-align: center;
}

#btn{
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #0c1a96;
   color: white;
}