*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(solid-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    width: 400px;
    height: 250px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#inputTag{
    width: 70px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
}

#btnTag{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #14233d;
    color: white;
}

#seeHere{
    width: 250px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    place-content: center;
    border-radius: 10px;
}
