    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-size {
        width: 350px;
        height: 400px;
        /* background-color: blue; */

    }